@import 'inputStyles.css';
@import 'tagStyles.css';


html{
    margin: 0;
    padding: 0;

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #808080;
    line-height: 1.6em;
    font-size: 1em;
}

body{
    margin: 0;
    padding: 0;
}

p{ color: #808080; }

hr{ border-top: 1px dotted #d0d0d0; border-bottom: none; }

#titleBlock{
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 3em;
    border-bottom: 1px solid #e0e0e0;
}
#mainTitle{
    font-size: 3em;
    letter-spacing: 0.06em;
    color: #f0b040;
}

h1, h2, h3, h4, h5, h6{
    color: #40c0c0;
    font-weight: 300;
}

h1{ font-size: 3em; }
h3{ color: #f0b040; }
h3::before{ content: "—  "; }
h3::after{ content: "  —"; }

h4{
    color: #c0c0c0;
    font-size: 0.8em;
    line-height: 0.2em;
    letter-spacing: 0.1em;
}


table{
    width: 100%;
    font-size: 0.8em;
}
thead{
    text-align: center;
    background: #f2f2f2;
    font-weight: 700;
}
tbody{
}
tr:nth-child(even){
    background: #f8f8f8;
}
td{
    width: 30%;
    padding: 0.5em;
}
tbody tr:hover{
    outline: 1px solid #d0f0f0;
}

.todoSerial{
    width: 3%;
    text-align: center;
    color: #d0d0d0;
}

.todoStatus .true {
    background: #f0fff0;

}
