.no-text-select{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.popout{
    margin: 0.5em;
    padding: 0.5em;
    outline: 1px solid #e0e0e0;
    box-shadow: 0px 0.25em 0.5em #f0f0f0;
}
